<div class="w-full h-full flex flex-col p-10 gap-4 overflow-auto">
  <div class="text-3xl font-bold text-center">
    Welcome to Todo List Management System - Toli Masy
  </div>

  <div class="flex flex-col gap-3 items-center">
    @for(task of todoList(); track $index) {
    <nz-card
      class="sm:w-1/2 w-full lg:w-1/3"
      [nzTitle]="task.name"
      [nzExtra]="extraTemplate"
      [nzActions]="[editButton, deleteButton]"
    >
      {{ task.description }}
    </nz-card>

    <ng-template #extraTemplate>
      <div
        class="p-2 w-24 font-semibold rounded-md text-center"
        [ngClass]="statusColor(task.status)"
      >
        {{ task.status }}
      </div>
    </ng-template>

    <ng-template #editButton>
      <button
        nz-button
        nzType="text"
        class="w-full text-[#3498DB]/80 hover:text-[#3498DB]"
        (click)="handleEditTask(task.id)"
      >
        <nz-icon nzType="edit" nzTheme="fill"></nz-icon>
      </button>
    </ng-template>

    <ng-template #deleteButton>
      <button nz-button nzType="text" class="w-full" nzDanger (click)="handleDeleteTask(task.id)">
        <nz-icon nzType="delete" nzTheme="fill"></nz-icon>
      </button>
    </ng-template>
    }
  </div>

  <button
    nz-button
    nzType="primary"
    class="rounded-full w-12 h-12 bottom-[5%] right-[5%] fixed"
    (click)="handleAddTask()"
  >
    <nz-icon nzType="plus" nzTheme="outline" />
  </button>
</div>
